	<div class="slyder slyder_index"> 			
		</div>		
<section>		
	<div class="bloque">
		<span class="title">
		TUS DATOS	
		</span><br>
		<span class="text">
		Son una prioridad para nosotros por eso te invitamos a conocer que datos tenemos de ti y saber que hacemos con ellos.
		</span><br><br><br>
		<span class="link">
		Este es el primer paso >>
		</span>
	</div>

	<div class="bloque">
		<img src="assets/images/registrate.png">
		<div class="info_bloque" id="register">
			<span class="bloque_title">
				REGISTRARTE
			</span><br>
			<span class="bloque_text">
				Querido comensal!
			</span>
		</div>
	</div>

	<div class="bloque">
		<img src="assets/images/about.png">
		<div class="info_bloque">
			<span class="bloque_title">
				QUE ES?
			</span><br>
			<span class="bloque_text">
				De que trata el tema
			</span>
		</div>
	</div>

	<div class="bloque">
		<img src="assets/images/privacidad.png">
		<div class="info_bloque">
			<span class="bloque_title">
				PRIVACIDAD
			</span><br>
			<span class="bloque_text">
				Que hacemos con sus datos?
			</span>
		</div>
	</div>
</section>
<div class="content_register">
	<section class="register">
		<div class="content">
			<div class="btn_login">
			INGRESA Y CONOCE
			</div>
			<div class="div_login">
				<div class="title_login">
					SI ERES USUARIO REGISTRADO
				</div>
				<div class="center">
					<span>Puedes ingresar haciendo click y autorizando el ingreso con cualquiera  de tus redes</span>
				</div>
				<div class="div_social_media">
					<div class="btn_social_media twitter">
					</div>
					<div class="btn_social_media google">
					</div>
					<div class="btn_social_media facebook">
					</div>
				</div>	
				<span>O tambien con tu usuario y contraseña</span><br><br>	
				<div class="login">
					<span>USUARIO O EMAIL</span><br>
					<input type="text" value="" name="email" class="input">
				</div>
				<div class="login">
					<span>CONTRASEÑA</span><br>
					<input type="text" value="" name="email" class="input">
				</div>	
				<span class="forget_password">Olvide mi usuario o mi contraseña</span><br>
				<input type="submit" value="INGRESAR"  class="submit" >
			</div>
			<div class="div_login">
				<div class="title_login">
					DE LO CONTRARIO REGISTRATE
				</div>
				<div class="center">
						<span>Eque porro quisquam est qui dolorem ipsum quia dolors</span>
					</div>				
				<div class="form_register">
					
					<div class="login">
						<span>NOMBRES</span><br>
						<input type="text" value="" name="email" class="input">
					</div>
					<div class="login">
						<span>APELLIDOS</span><br>
						<input type="text" value="" name="email" class="input">
					</div>	

					<div class="login">
						<span>USUARIO O EMAIL</span><br>
						<input type="text" value="" name="email" class="input">
					</div>
					<div class="login">
						<span>CONTRASEÑA</span><br>
						<input type="text" value="" name="email" class="input">
					</div>
				</div>
				<div class="separator"></div>				
				<input type="submit" value="REGISTRARME"  class="submit" >
			</div>
		</div>
	</section>
</div>