<section>	
<div class="left_content">
			<div class="margin_right">
				<div class="menu_mis_datos">
					<span class="title_datos selected_menu">Perfil Básico</span><br>
					<span class="sustitle_datos">Consectetur adipiscing elit. </span>
				</div>
				<div class="menu_mis_datos ">
					<span class="title_datos selected_menu">Identificadores</span><br>
					<span class="sustitle_datos">Consectetur adipiscing elit.</span>
				</div>
				<div class="menu_mis_datos">
					<span class="title_datos">Datos de contacto</span><br>
					<span class="sustitle_datos">.Consectetur adipiscing elit.</span>
				</div>
				<div class="menu_mis_datos">
					<span class="title_datos">Caracteristicas</span><br>
					<span class="sustitle_datos">Consectetur adipiscing elit.</span>
				</div>
				<div class="menu_mis_datos">
					<span class="title_datos">Comportamiento</span><br>
					<span class="sustitle_datos">Consectetur adipiscing elit.</span>
				</div>
				<div class="menu_mis_datos">
					<span class="title_datos">Relaciones</span><br>
					<span class="sustitle_datos">Consectetur adipiscing elit.</span>
				</div>
				<br><br>
			</div>
			<div class="bloque title_datos">
				<img src="assets/images/about.png">
				<div class="info_bloque">
					<span class="bloque_title">
						QUE ES?
					</span><br>
					<span class="bloque_text">
					De que trata el tema
					</span>
				</div>
			</div>
		</div>
		<div class="right_content">
			<div class="title_separator">
				<span class="title_resumen_datos">Perfil Básico: Lorem ipsum dolor sit amect fecitum</span><br>
			</div>
			<input type="button" value="Exportar datos" class="btn_export">
			<div class="un_dato">
				<div class="tittle_dato">Twitter</div>
				<div class="el_dato">@ezesubu</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Facebook</div>
				<div class="el_dato">ezesubu</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Email</div>
				<div class="el_dato">crhsytyanngmail.com</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Passport:</div>
				<div class="el_dato">80185054</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Phone:</div>
				<div class="el_dato">3112873403</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Transactional ID:</div>
				<div class="el_dato">v</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Client ID:</div>
				<div class="el_dato">74456332</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">Document ID:</div>
				<div class="el_dato">80185054</div>				
			</div>
			<div class="un_dato">
				<div class="tittle_dato">SSN:</div>
				<div class="el_dato">43322567</div>				
			</div>
		</div>
</section>