	<nav>		
		<ul class="menu">
			<li class="selected"><a href="welcome">AUTORIZACIÓN</a></li>
			<li class="selected"><a href="me">MIS DATOS</a></li>
			<li><a href="user_reclamo">RECLAMOS</a></li>
			<li> </li>
		</ul>		
		<div class="user_menu">HOLA EZEQUIEL SUAREZ</div>
		<%= link_to log_out_path do %>
			<div class="log_out">Salir de forma segura</div>
		<% end %>		
	</nav>